/* COMPLETARE NAVBAR (Reset + altro) */



/* Inizializzazione pagina */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Arrotonda bordi di default */
  border-radius: 5px;

}


.sfondo{
  position: fixed; /* padre relative = body */
  z-index: -1; /* Posiziona su livello inferiore */
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-image: url(../img/background-legno.png);
  background-size: contain;
  background-repeat: repeat;

}

/* Container del sito */
.container{
  width: 1000px;  /* Ricalco l'immagine di riferimento */
  margin: auto;
}

/* Blocco header */
.block-header{
  margin-top:20px;
  margin-bottom:15px;
  height: 420px;

}

.header-testata{
  width:100%;
  height: 380px;
  border: 10px solid white;
  background-image:url(../img/header-sfondo.png);
  border-radius: 0px;
}

/* Navbar del sito */
.header-navbar{
  width:100%;
  height:45px;
  background-color: #666;
  border-radius: 0px;
}

.header-navbar ul{
  text-decoration: none;
  width:600px;
  margin: 0 auto;
  font-size: 12px;
}

.header-navbar li {
  display: inline;
  text-decoration: none;
  color: white;
  line-height: 45px; /* Prendi altezza del div padre */
  padding: 0px 10px;
}



/* Contenuto del sito */
.content{
  width: 100%;
  margin: 10px 0;
  margin-bottom:45px;
}


/* Colori blocchi */
.block1-sx, .content-center, .block1-dx, .block2-dx, .block3-dx {
  background-color: white;
}
/* /Colori blocchi */


/* Sidebar a sinistra */
.sidebar-left{
  width: 25%;
  padding-right: 50px;
  /* height: */ Determinata dal contenuto

}

/* Blocco 1 nella sidebar a sinistra */
.block1-sx{
  width: 100%;
  height: 450px;
}

/* Contenuto al centro dello schermo */
.content-center{
  width: 50%;
  height: 350px;
}

.sidebar-right{
  width: 25%;
  padding-left: 50px;
}

.block1-dx{
  width: 100%;
  height: 380px;
  margin-bottom: 40px; /* Solo padding inferiore */
}

.block2-dx{
  width: 100%;
  height: 380px;
  padding-bottom: 20px; /* Solo padding inferiore */
  margin-bottom: 40px
}

.block3-dx{
  width: 100%;
  height: 380px;
  padding-bottom: 20px; /* Solo padding inferiore */
}


/* Blocco footer */
.block-footer{
  background-color: lightgrey;
  height: 150px;
}

/* Reference img */
.reference{
  position: absolute; /* padre relative lo prende dal body;*/
  z-index:0;
  height: 1891px;
  width: 1667px;
  top:0;
  left:50%;
  transform: translate(-50%,0%);
  opacity: 0%;
  background-image: url(../img/reference.png);

}

.reference:hover{
  opacity: 50%;
}

/* ======= UTILITIES =========*/

/* Float sinistra e destra */
.float-l{
  float: left;
}
.float-r{
  float: right;
}
/* /Float sinistra e destra */

/* Clearfix generico */
.clearfix::after{
  content: "";
  display: table;
  clear:both;
}
/* /Clearfix generico */



/* ======= /UTILITIES =========*/
