/* Inizializzazione pagina */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Proprietà temporanee  */
  color: white;
  font-weight: bold;
  border-radius: 5px;
}


/* Container del sito */
.container{
  width: 1200px;
  margin: auto;
}

/* Blocco header */
.block-header{
  background-color: yellow;
  height: 200px;
}

/* Contenuto del sito */
.content{
  width: 100%;
  background-color: rgba(255,255,0,0.2);
  margin: 10px 0;
}
/* Sidebar a sinistra */
.sidebar-left{
  width: 25%;
  padding-right: 20px;
  /* height: */ Determinata dal contenuto

}

/* Blocco 1 nella sidebar a sinistra */
.block1-sx{
  width: 100%;
  height: 300px;
  background-color: rgba(255,0,255,0.5);
}

/* Contenuto al centro dello schermo */
.content-center{
  width: 50%;
  height: 500px;
  background-color: rgb(255,0,255);
}

.sidebar-right{
  width: 25%;
  padding-left: 20px;
}

.block1-dx{
  width: 100%;
  height: 200px;
  margin-bottom: 20px; /* Solo padding inferiore */
  background-color: rgba(255,0,255,0.5);
}

.block2-dx{
  width: 100%;
  height: 200px;
  padding-bottom: 20px; /* Solo padding inferiore */
  background-color: rgba(255,0,255,0.5);

}


/* Blocco footer */
.block-footer{
  background-color: lightblue;
  height: 100px;
}
/* ======= UTILITIES =========*/

/* Float sinistra e destra */
.float-l{
  float: left;
}
.float-r{
  float: right;
}
/* /Float sinistra e destra */

/* Clearfix generico */
.clearfix::after{
  content: "";
  display: table;
  clear:both;
}
/* /Clearfix generico */



/* ======= /UTILITIES =========*/
